$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
 
// colors
$deep-green: #0e141b;

// globals

body {
	background-color: #111;
	text-align: center;
	font-family: Arial;
	background-repeat: no-repeat;
}

body h2 {
	font-size: 70px;
}
body p {
	font-size: 20px;
	margin: 0 auto;
	max-width: 600px;
}

body section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 0;
}

body img {
	margin: 2px;
	@media screen and (max-width: 611px) {
		margin: 20px auto;
		width: 90%;
	}
}

.browsehappy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	min-height: 50px;
	margin: 0;
	padding: 10px 0;
	background: $deep-green;
	z-index: 9999;
}

.lfl-logo {
	background-image: url(../images/lfl-logo.png);
	height: 36px;
	width: 46px;
	background-repeat: no-repeat;
	float: left;
	margin: 10px 0 0 10px;
}

.instafeed-title h1 {
	color: #dbdbdb;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 300;
	padding: 40px 0;
}

.image-container {
	display: inline-block;
	margin: 5px;
	position: relative;
	vertical-align: top;
	text-align: left;
}

.image-container a {
	height: 100%;
	width: 100%;
}

.image-container .image-caption {
	font-size: 14px;
	max-width: 306px;
	color: #dbdbdb;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 400;
}

#instafeed {
	margin: 0 auto;
	max-width: 1200px;

	&:after {
		content: "";
	    display: table;
	    clear: both;
	}
}